@using Client.Requests
@using Api.Responses
@using Client.Helpers
@using Client.Constants
@model PagingRequest<TagResponse>
@{
    int totalRecord = (int)Model.TotalRecord;
    int totalPages = (int)Model.TotalPages;
    int currentPage = Model.CurrentPage;
    int pageSize = Model.PageSize;

    int startPage = Math.Max(1, currentPage - 2);
    int endPage = Math.Min(totalPages, currentPage + 2);

    int startIndex = ((currentPage - 1) * pageSize) + 1;
    int endIndex = startIndex + pageSize - 1;
    if (endIndex > totalRecord) endIndex = totalRecord;

    int ordinalNumber = 1;
}

<div class="pagetitle">
    <h1>Manage tag</h1>
</div><!-- End Page Title -->

<div class="card p-3">
    <div class="row mb-2">
        <form id="form-search" method="GET" asp-area="Staff" asp-controller="Tag" asp-action="Index">
            <input name="IsSearch" type="hidden" value="true">
            <div class="row">
                <div class=" col-sm-12 col-lg-8 pe-lg-0">
                    <div class="input-group">
                        <input asp-for="@Model.SearchTerm" name="SearchTerm" type="text" class="form-control rounded-0 rounded-start"
                               id="search-term" placeholder="Enter tag name">
                        <button type="submit" class="btn btn-info rounded-0 rounded-end">
                            <span><i class="bi bi-search"></i> Search</span>
                        </button>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4 pt-2 pt-lg-0 text-lg-end">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#modal-create" class="btn btn-primary">
                        <span><i class="bi bi-plus-circle-fill me-1"></i>Create</span>
                    </button>
                </div>
            </div>
            <input id="current-page" type="hidden" asp-for="CurrentPage" name="CurrentPage" />
        </form>
    </div>
    @if (Model?.Items?.Count > 0)
    {
        <div class="table-container">
            <table class="useful-table">
                <thead>
                    <tr>
                        <th class="col-px-10">STT</th>
                        <th>Name</th>
                        <th>Desciption</th>
                        <th class="text-center col-2">Action</th>
                    </tr>
                </thead>
                <tbody class="useful-table-body">
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>@(ordinalNumber++)</td>

                            <td title="@item.TagName" data-bs-toggle="tooltip" data-bs-placement="top">
                                @item.TagName
                            </td>
                            <td title="@item.Note" data-bs-toggle="tooltip" data-bs-placement="top">
                                @item.Note
                            </td>
                            <td class="text-center">
                                <button onclick="fillDataToFormUpdate(@(item.TagId.ToString()))" data-bs-toggle="modal" data-bs-target="#modal-update" class="btn btn-secondary me-2"><i class="bi bi-pencil"></i></button>
                                <button onclick="fillDataToFormDelete(@(item.TagId.ToString()))" data-bs-toggle="modal" data-bs-target="#modal-confirm" class="btn btn-danger"><i class="bi bi-trash"></i></button>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <div class="row d-flex justify-content-center align-content-center mt-3">

            <div class="col">
                <span class="fst-italic ">Show <strong>@startIndex - @endIndex</strong> in total of <strong> @totalRecord</strong> tags</span>
            </div>
            @if (totalPages > 1)
            {
                <ul class="pagination justify-content-end col">
                    <li class="page-item @((currentPage == 1) ? "disabled" : "")">
                        <a onclick="event.preventDefault(); setCurrentPage('@(currentPage-1)')" href="#" class="page-link link-paging" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>

                    @if (currentPage > 3)
                    {
                        <li class="page-item disabled"><span class="page-link">...</span></li>
                    }

                    @for (int pageIndex = startPage; pageIndex <= endPage; pageIndex++)
                    {
                        <li class="page-item @(pageIndex == currentPage ? "link-active" : "")">
                            <a onclick="event.preventDefault(); setCurrentPage('@pageIndex')" class="page-link link-paging" href="#">@pageIndex</a>
                        </li>
                    }

                    @if (currentPage < Math.Ceiling(totalRecord / 10.0) - 2)
                    {
                        <li class="page-item disabled"><span class="page-link">...</span></li>
                    }

                    <li class="page-item @((currentPage == totalPages) ? "disabled" : "")">
                        <a onclick="event.preventDefault(); setCurrentPage('@(currentPage + 1)')" class="page-link link-paging" href="#">Next</a>
                    </li>
                </ul>
            }
        </div>
    }
    else
    {
        <h6 class="fw-bold">Data not found.</h6>
    }

</div>
<form id="form-create" method="POST" asp-area="Staff" asp-controller="Tag" asp-action="Create" enctype="multipart/form-data">
    <div class="modal fade" id="modal-create" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add new tag</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-2">
                        <div class="col-lg-12 col-sm-12 mb-3">
                            <label class="col-sm-12 fw-bold">Tag Name<span class="ms-1 text-red">*</span></label>
                            <div class="col-sm-12">
                                <input id="name-create" name="TagName" type="text" class="form-control" placeholder="Enter tag name">
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <label class="col-sm-12 fw-bold">Note<span class="ms-1 text-red">*</span></label>
                            <div class="col-sm-12">
                                <textarea id="note-create" name="Note" type="text" class="form-control" placeholder="Enter tag note"></textarea>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">
                        <i class="bi bi-x-lg"></i>
                        <span>Cancel</span>
                    </button>
                    <button type="button" onclick="createTag()" class="btn btn-secondary">
                        <i class="bi bi-box-arrow-up"></i>
                        <span>Save</span>
                    </button>
                </div>
            </div>
        </div>
    </div><!-- End Vertically centered Modal-->
</form>

<form id="form-update" method="POST" asp-area="Staff" asp-controller="Tag" asp-action="Update" enctype="multipart/form-data">
    <div class="modal fade" id="modal-update" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update tag</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-2">
                        <div class="col-lg-12 col-sm-12 mb-3">
                            <label class="col-sm-12 fw-bold">Tag Name<span class="ms-1 text-red">*</span></label>
                            <div class="col-sm-12">
                                <input id="id-update" name="TagId" type="hidden">
                                <input id="name-update" name="TagName" type="text" class="form-control" placeholder="Enter tag name">
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <label class="col-sm-12 fw-bold">Note<span class="ms-1 text-red">*</span></label>
                            <div class="col-sm-12">
                                <textarea id="note-update" name="Note" type="text" class="form-control" placeholder="Enter tag note"></textarea>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">
                        <i class="bi bi-x-lg"></i>
                        <span>Cancel</span>
                    </button>
                    <button type="button" onclick="updateTag()" class="btn btn-secondary">
                        <i class="bi bi-box-arrow-up"></i>
                        <span>Save</span>
                    </button>
                </div>
            </div>
        </div>
    </div><!-- End Vertically centered Modal-->
</form>

<form id="form-delete" method="POST" asp-area="Staff" asp-controller="Tag" asp-action="Delete" enctype="multipart/form-data">
    <div class="modal fade" id="modal-confirm" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title color-red">Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <span class="fw-bold fs-5">Are you sure you want to delete the tag:</span>
                        <span class=" fs-6" id="tag-delete"></span> ?
                    </div>
                    <input type="hidden" id="id-delete" name="id" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">
                        <i class="bi bi-x-lg"></i>
                        <span>No</span>
                    </button>
                    <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">
                        <i class="bi bi-box-arrow-up"></i>
                        <span>Yes</span>
                    </button>
                </div>
            </div>
        </div>
    </div><!-- End Vertically centered Modal-->
</form>

<script>

    const formCreate = document.getElementById('form-create');
    const formUpdate = document.getElementById('form-update');
    const formDelete = document.getElementById('form-delete');

    function createTag() {
        var name = document.getElementById("name-create");
        var note = document.getElementById("note-create");

        if (note.value === null || note.value.trim() === "") {
            showToast("warning", "Please enter tag note.");
            return;
        }

        if (name.value === null || name.value.trim() === "") {
            showToast("warning", "Please enter tag name.");
            return;
        }

        formCreate.submit();
    }

    function fillDataToFormUpdate(id) {
        var hiddenId = document.getElementById("id-update");
        var note = document.getElementById("note-update");
        var name = document.getElementById("name-update");
        var url = "GetTagById?id=" + id;
        const response = fetch(url)
            .then(response => response.json())
            .then(result => {
                console.log(result);
                note.value = result.note;
                name.value = result.tagName;
                hiddenId.value = result.tagId;
            }).catch(error => {
                showToast("error", error);
            });
    }

    function fillDataToFormDelete(id) {
        var hiddenId = document.getElementById("id-delete");
        var name = document.getElementById("tag-delete");
        var url = "GetTagById?id=" + id;
        const response = fetch(url)
            .then(response => response.json())
            .then(result => {
                console.log(result);
                name.innerHTML = result.tagName;
                hiddenId.value = result.tagId;
            }).catch(error => {
                showToast("error", error);
            });
    }

    function updateTag() {
        var name = document.getElementById("name-update");
        var note = document.getElementById("note-update");

        if (name.value === null || name.value.trim() === "") {
            showToast("warning", "Please enter tag name.");
            return;
        }
        if (note.value === null || note.value.trim() === "") {
            showToast("warning", "Please enter tag note.");
            return;
        }

        formUpdate.submit();
    }
</script>